<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="true"/>
    </settings>

    <!-- Type Aliases -->
    <!-- <typeAliases> -->
        <!-- <package name="com.example.demo.model"/> -->
    <!-- </typeAliases> -->

    <!-- Mappers: Need at least one mapper for config to be valid in some contexts -->
    <mappers>
        <mapper resource="mappers/DummyMapper.xml"/>
        <mapper resource="mappers/ProductMapper.xml"/>
    </mappers>
</configuration>
